html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  --joint-logo-color: #4d5ae5;
  --header-logo-color: #2e2f42;
  --btn-color: #4d5ae5;
  --footer-logo-color: #f4f4fd;
  --title-text-color: #2e2f42;
  --background-btn-color: #f4f4fd;
  --side-text-color: #434455;
  --active-link-color: #404bbf;
  --logo-font: 'Raleway', sans-serif;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-bottom: 28px;
  }
}
.header .container {
  display: flex;
  align-items: center;
}
.logo {
  display: inline-flex;
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .logo {
    line-height: 1.33;
  }
}
.logo--blue {
  color: var(--joint-logo-color);
}
.logo--white {
  color: var(--footer-logo-color);
}
.logo--black {
  color: var(--header-logo-color);
}
.logo--margin {
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .logo--margin {
    margin-right: 123px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--margin {
    margin-right: 76px;
  }
}
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-btn:hover,
.menu-btn:focus {
  fill: var(--btn-color);
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.header-nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
  }
}
.header-nav-item {
  margin-right: 40px;
}
.header-na-item:last-child {
  margin-right: 0;
}
.header-nav-link {
  display: block;
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--active-link-color);
}
.header-active-link {
  color: var(--active-link-color);
  position: relative;
}
.header-active-link::after {
  content: '';
  background-color: var(--active-link-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  display: block;
  position: absolute;
  margin-top: 24px;
}
.header-contacts-list {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header-contacts-list {
    display: block;
  }
  .header-contacts-item:not(:last-child) {
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts-list {
    display: flex;
  }
  .header-contacts-item {
    display: flex;
    align-items: center;
  }
  .header-contacts-item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}
.header-contacts-link {
  display: block;
  color: var(--side-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--active-link-color);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 80px 0px 40px 40px;
  opacity: 1;
  z-index: 2;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.menu .container {
  display: flex;
  padding: 0;
  flex-direction: column;
  height: 100%;
  align-items: start;
  justify-content: space-between;
  overflow-y: auto;
}
.menu-btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  top: 40px;
  right: 40px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: background-color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.menu-close-icon {
  fill: #000;
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.menu-btn-close:active {
  background-color: var(--active-link-color);
  border: 1px solid transparent;
}
.menu-btn-close:active .menu-close-icon {
  fill: #fff;
}
.menu-nav-item {
  margin-bottom: 40px;
}
.menu-nav-item:last-child {
  margin-bottom: 0;
}
.menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.menu-nav-link:hover,
.menu-nav-link:focus {
  color: var(--active-link-color);
}
.menu-selected-page {
  color: var(--active-link-color);
}
.tel {
  margin-bottom: 40px;
}
.mail {
  margin-bottom: 48px;
}
.menu-contact-tel {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--side-text-color);
}
.menu-contact-tel:hover,
.menu-contact-tel:focus {
  color: var(--btn-color);
}
.menu-contact-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--side-text-color);
}
.menu-contact-mail:hover,
.menu-contact-mail:focus {
  color: var(--btn-color);
}
.menu-icon-list {
  display: flex;
  gap: 56px;
}
.menu-icon-item {
  width: 40px;
  height: 40px;
}
.menu-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.menu-icon-link:hover,
.menu-icon-link:focus {
  background-color: var(--active-link-color);
}
.menu-icon {
  fill: #f4f4fd;
}
.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(47, 47, 66, 0.7)),
    url(../images/hero-bg-desktop.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 111px;
    padding-bottom: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
.hero-title {
  margin-bottom: 72px;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-btn {
  padding: 16px 32px;
  align-items: center;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition-property: background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-link-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hero-btn:active {
  background-color: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.quality {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .quality {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.quality-item {
  margin-bottom: 72px;
}
.quality-list {
  margin-bottom: -72px;
}
@media screen and (min-width: 768px) {
  .quality-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
  }
  .quality-item {
    width: calc(50% - 24px);
    margin-left: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .quality-item {
    width: calc(25% - 24px);
  }
}
.quality-icon-content {
  display: none;
}
@media screen and (min-width: 1200px) {
  .quality-icon-content {
    width: 274.5px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    background-color: #f4f4fd;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
  }
}
.quality-item .quality-title {
  text-align: center;
}
.quality-title {
  margin-bottom: 8px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .quality-item .quality-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .quality-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.quality-text {
  color: var(--side-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .quality-text {
    font-weight: 400;
  }
}
.examples {
  display: none;
}
@media screen and (min-width: 1200px) {
  .examples {
    display: block;
    padding-bottom: 120px;
  }
  .examples-list {
    display: flex;
    justify-content: center;
  }
  .examples-item {
    margin-right: 24px;
  }
  .examples-item:last-child {
    margin-right: 0;
  }
  .examples-title {
    margin-bottom: 72px;
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .examples-img {
    border: 1px solid #e7e9fc;
    background: linear-gradient(rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
    background-blend-mode: soft-light, normal;
  }
}
.team {
  padding-top: 96px;
  padding-bottom: 128px;
  background-color: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .team {
    padding-bottom: 104px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -72px;
}
@media screen and (min-width: 768px) {
  .team-list {
    margin-left: -24px;
  }
}
.team-item {
  max-width: 264px;
  margin-bottom: 72px;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .team-item {
    margin-left: 24px;
  }
}
.team-title {
  margin-bottom: 72px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-cards-content {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-members {
  margin-bottom: 8px;
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-position {
  margin-bottom: 8px;
  color: var(--side-text-color);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-cards-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-cards-item {
  width: 40px;
  height: 40px;
}
.team-cards-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.team-cards-link:hover,
.team-cards-link:focus {
  background-color: var(--active-link-color);
}
.team-cards-icon {
  fill: #f4f4fd;
}
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.customers-title {
  margin-bottom: 72px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}
.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -72px;
  margin-left: -16px;
}
.customers-item {
  margin-left: 16px;
  margin-bottom: 72px;
  width: calc(50% - 16px);
  height: 88px;
}
@media screen and (min-width: 768px) {
  .customers-list {
    margin-left: -24px;
  }
  .customers-item {
    width: calc(33.3333333333% - 24px);
  }
}
@media screen and (min-width: 1200px) {
  .customers-item {
    width: calc(16.6666666667% - 24px);
  }
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--active-link-color);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--active-link-color);
}
.customers-icon {
  fill: #8e8f99;
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
}
.portfolio-filters-list {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}
@media screen and (min-width: 768px) {
  .portfolio-filters-list {
    margin-bottom: 64px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filters-list {
    margin-bottom: 72px;
  }
}
.portfolio-btn {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: var(--btn-color);
  background-color: var(--background-btn-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  transition-property: border, color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: var(--active-link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
@media screen and (min-width: 768px) {
  .portfolio-products-list {
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-products-list {
    gap: 48px 24px;
  }
}
.portfolio-products-item {
  width: 100%;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.portfolio-products-item:hover,
.portfolio-products-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-products-item img {
  width: 100%;
}
.portfolio-products-link {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-products-item {
    width: calc(50% - 24px);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-products-item {
    width: calc(33.3333333333% - 24px);
  }
}
.cards-animation {
  position: relative;
  overflow: hidden;
}
.cards-animation-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 40px 32px 164px;
  text-align: left;
  color: #f4f4fd;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.portfolio-products-link:hover .cards-animation-text,
.portfolio-products-link:focus .cards-animation-text {
  transform: translateY(0);
}
.cards-item {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
}
.portfolio-products-title {
  margin-bottom: 8px;
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-products-text {
  color: var(--side-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}
.footer .container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.footer-logo-content {
  margin-bottom: 72px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-logo-content {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo-content {
    margin-bottom: 0;
  }
}
.footer-logo-content .logo {
  margin-bottom: 16px;
}
.footer-logo-text {
  margin: auto;
  max-width: 268px;
  color: #e7e9fc;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.footer-icon-content {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .footer-icon-content {
    margin-left: 24px;
    margin-bottom: 102px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-icon-content {
    margin-bottom: 0;
    margin-left: 120px;
  }
}
.footer-icon-title {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-icon-title {
    text-align: left;
  }
}
.footer-icon-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-icon-item {
  width: 40px;
  height: 40px;
}
.footer-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .footer-form-content {
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-content {
    margin-left: 80px;
  }
}
.footer-form-title {
  margin-bottom: 16px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-form-title {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    align-items: center;
  }
}
.footer-form-field {
  margin: 0;
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  background-color: var(--title-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  font: inherit;
  color: #fff;
  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.footer-form-field:focus {
  border-color: #4d5ae5;
}
.footer-form-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .footer-form-field {
    width: 264px;
  }
}
.footer-form-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  padding: 8px 24px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--btn-color);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--active-link-color);
}
.footer-form-icon {
  fill: #fff;
}
@media screen and (min-width: 768px) {
  .footer-form-btn {
    margin-top: 0;
    margin-left: 24px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 392px;
  padding: 72px 16px 24px 16px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 392px;
    max-height: 586px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px;
    max-width: 408px;
  }
}
.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: background-color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.modal-close-icon {
  fill: #000;
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.modal-close-btn:active {
  background-color: var(--active-link-color);
  border: 1px solid transparent;
}
.modal-close-btn:active .modal-close-icon {
  fill: #fff;
}
.modal-title {
  margin-bottom: 14px;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.modal-form button {
  display: flex;
  justify-content: center;
}
.modal-form-field {
  display: flex;
  flex-direction: column;
}
.form-label {
  margin-bottom: 4px;
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.input-wrap {
  position: relative;
}
.form-input {
  margin-bottom: 8px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  width: 360px;
  height: 40px;
  font: inherit;
  transition-property: border-color, fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-icon {
  position: absolute;
  top: 8px;
  left: 16px;
  fill: #2e2f42;
}
.form-icon[height='18px'] {
  top: 11px;
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.form-textarea {
  margin-bottom: 16px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  width: 360px;
  height: 120px;
  font: inherit;
  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.form-textarea:focus {
  border-color: #4d5ae5;
}
.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.privacy {
  flex-direction: row;
  margin-bottom: 24px;
}
.form-label[for='accept'] {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
.modal-form-privacy {
  color: #4d5ae5;
  text-decoration: underline;
}
.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
}
.form-checkbox:checked + .checkbox-icon {
  background-color: #404bbf;
  border-color: transparent;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}
.modal-form-btn {
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 16px 65px;
  border: 0;
  border-radius: 4px;
  background-color: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  transition-property: background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--active-link-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
